* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);

}

nav div {
    /* border: 1px solid rgb(219, 207, 207); */
    width: 461px;
    height: 64px;
}

nav #b {
    width: 515px;
    margin-right: 124px;

}

nav #b ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;


}
nav #b ul li a:hover{
    color: rgb(9, 189, 9);


}

nav #b ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    list-style: none;
}
nav #a {
    /* border: 1px solid white; */
    height: 50px;
    width: 250px;
    position: relative;
    left: 165px;
    


}
nav #a img {
    width: 39px;
    margin-top: 2px;

}
nav #a span {
    color: white;
    font-size: 36px;
    margin-bottom: 5px;
    padding-left: 9px;
    position: relative;
    bottom: 6px;
}

nav #c div {
    background: transparent;

    border: 2px solid #29d9d5;
    color: #29d9d5;
    width: 149px;
    height: 42px;
    border-radius: 26px;

    margin-left: 159px;
    margin-top: 9px;
    text-align: center;
    font-size: larger;
    padding-top: 4px;
}

nav #c div:hover {
    background-color: #29d9d5;
    color: black;
    cursor: pointer;
}
#mid{
    border-bottom: 5px solid rgba(123, 8, 255, 0.483);
    height: 700px;
    background-image: url(spotifybg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
#mid img{
   
    width: 380px;
    margin-left: 115px;
    margin-top: 54px;
}
#mid div{
    margin-top: 221px;
    margin-left: 80px;
   
}
#mid div h1{
   font-size: 70px;
   line-height: 75px;
   word-spacing: 2px;
   
}
#mid div button{
    background-color: #000000a8;
    /* border: none; */
    border-radius: 34px;
    width: 306px;
    height: 52px;
    margin-top: 20px;
    margin-left: 2px;
    font-weight: 400;
    font-size: large;
    color: white;
}
   
#mid div button:hover{
    background-color: #000000;
    /* border: none; */
    border-radius: 34px;
    width: 306px;
    height: 52px;
    margin-top: 20px;
    margin-left: 2px;
    font-weight: 400;
    font-size: large;
    color: white;
    cursor: pointer;
}
#head1{
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.box{
    padding-top: 25px;
    /* border: 2px solid rgb(161, 6, 6); */
    height: 339px;
    width: 350px;
    align-items: center;
    text-align: center;
}
#section2{
    height: 300px;
    text-align: center;
    background-image: linear-gradient(to bottom , #6500b3, #17054a);
    color: white;
    padding-top: 90px;
}
#ready{
    font-size: 62px;
    line-height: 65px;
}
#section2 button{
    background-color: #000000a8;
    /* border: none; */
    border-radius: 34px;
    width: 306px;
    height: 52px;
    margin-top: 20px;
    margin-left: 2px;
    font-weight: 400;
    font-size: large;
    color: white;
}
   
#section2 button:hover{
    background-color: #000000;
    /* border: none; */
    border-radius: 34px;
    width: 306px;
    height: 52px;
    margin-top: 20px;
    margin-left: 2px;
    font-weight: 400;
    font-size: large;
    color: white;
    cursor: pointer;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

   
#section3{
    background-color: rgb(0, 0, 0);
}


#section3 img {
    width: 39px;
    margin-top: 2px;

}
#section3 span {
    color: white;
    font-size: 36px;
    margin-bottom: 5px;
    padding-left: 9px;
    position: relative;
    bottom: 6px;
}
